/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, ../scss/main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 25, ../scss/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 30, ../scss/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 39, ../scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 57, ../scss/main.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 65, ../scss/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 75, ../scss/main.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 83, ../scss/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles - fabian.frei@esf-frei.ch
   ========================================================================== */
/* compass imports */
/* colors */
/* line 107, ../scss/main.scss */
html,
body {
  background-color: #fdf6e3; }

/* important stuff */
/* apply a natural box layout model to all elements */
/* line 114, ../scss/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* typo and font */
@font-face {
  font-family: 'nobileregular';
  src: url("font/nobile/nobile-regular-webfont.eot");
  src: url("font/nobile/nobile-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/nobile/nobile-regular-webfont.woff") format("woff"), url("font/nobile/nobile-regular-webfont.ttf") format("truetype"), url("font/nobile/nobile-regular-webfont.svg#nobileregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nobilemedium';
  src: url("font/nobile/nobile-medium-webfont.eot");
  src: url("font/nobile/nobile-medium-webfont.eot?#iefix") format("embedded-opentype"), url("font/nobile/nobile-medium-webfont.woff") format("woff"), url("font/nobile/nobile-medium-webfont.ttf") format("truetype"), url("font/nobile/nobile-medium-webfont.svg#nobilemedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nobilebold';
  src: url("font/nobile/nobile-bold-webfont.eot");
  src: url("font/nobile/nobile-bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/nobile/nobile-bold-webfont.woff") format("woff"), url("font/nobile/nobile-bold-webfont.ttf") format("truetype"), url("font/nobile/nobile-bold-webfont.svg#nobileregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 35, ../scss/_font.scss */
.regular, p,
li,
a {
  font-family: 'nobileregular', arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

/* line 41, ../scss/_font.scss */
.medium, h2,
h3,
h4, strong, header h2 a,
#header h2 a, nav #subnav li a,
nav #subnav li a:visited {
  font-family: 'nobilemedium', arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

/* line 47, ../scss/_font.scss */
.bold, h1, nav ul li a,
nav ul li a:visited {
  font-family: 'nobilebold', arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

/* line 120, ../scss/main.scss */
h1 {
  color: #00407a; }

/* line 127, ../scss/main.scss */
h2,
h3,
h4 {
  color: #00407a; }

/* line 135, ../scss/main.scss */
p,
li,
a {
  color: #708891; }

/* line 139, ../scss/main.scss */
strong {
  color: #00407a; }

/* line 144, ../scss/main.scss */
a {
  color: #00407a;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }
  /* line 148, ../scss/main.scss */
  a:hover {
    text-decoration: underline; }
  /* line 152, ../scss/main.scss */
  a:hover, a:visited {
    color: #c5b893; }

/* wrappers */
/* line 159, ../scss/main.scss */
.outerWrapper, header,
#header, nav, #main, footer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.5em 0 0.5em; }

/* components */
/* line 175, ../scss/main.scss */
header h1,
#header h1 {
  font-size: 2.1em;
  letter-spacing: 0.09em;
  word-spacing: 0.12em;
  padding: 0.5em 0 0 0;
  margin-bottom: 0; }
/* line 182, ../scss/main.scss */
header h2,
#header h2 {
  font-size: 0.8em;
  width: 80%;
  text-align: right; }

/* line 192, ../scss/main.scss */
nav {
  margin-top: 2em;
  margin-bottom: 2.2em; }
  /* line 196, ../scss/main.scss */
  nav ul {
    list-style-type: none;
    padding: 0.75em 0 0.75em 0;
    margin: 0;
    border-bottom: 1px solid #00407a;
    border-top: 1px solid #00407a; }
    /* line 203, ../scss/main.scss */
    nav ul li {
      display: block;
      float: left;
      width: 20%;
      text-align: center;
      padding: 0 1em 0 0; }
      /* line 212, ../scss/main.scss */
      nav ul li:last-child {
        padding: 0; }
      /* line 216, ../scss/main.scss */
      nav ul li a,
      nav ul li a:visited {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding: 0.6em 0;
        background-color: #fdf6e3;
        color: #00407a;
        -webkit-transition: all 0.75s;
        -moz-transition: all 0.75s;
        -o-transition: all 0.75s;
        transition: all 0.75s; }
        /* line 226, ../scss/main.scss */
        nav ul li a:hover, nav ul li a.active,
        nav ul li a:visited:hover,
        nav ul li a:visited.active {
          text-decoration: none;
          background-color: #708891;
          color: #fdf6e3; }
  /* line 234, ../scss/main.scss */
  nav #subnav {
    border: none; }
    /* line 236, ../scss/main.scss */
    nav #subnav li {
      display: inline-block;
      width: auto; }
      /* line 240, ../scss/main.scss */
      nav #subnav li a,
      nav #subnav li a:visited {
        padding: 0.6em; }
        /* line 244, ../scss/main.scss */
        nav #subnav li a.active, nav #subnav li a:hover,
        nav #subnav li a:visited.active,
        nav #subnav li a:visited:hover {
          background-color: transparent;
          color: #c5b893; }

/*** helpers ***/
/* line 3, ../scss/_arrow.scss */
.arrow_box {
  position: relative;
  border-bottom: 1px solid #00407a;
  /*&:before {
  	border-color: transparent;
  	border-top-color: $emphasize;
  	border-width: 37px;
  	margin-left: -37px;
  }*/ }
  /* line 7, ../scss/_arrow.scss */
  .arrow_box:before, .arrow_box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  /* line 17, ../scss/_arrow.scss */
  .arrow_box:after {
    border-color: transparent;
    border-top-color: #00407a;
    border-width: 5px;
    margin-left: -5px; }

/*** components ***/
/* line 3, ../scss/_main.scss */
#main img {
  max-width: 25%;
  min-width: 25%; }
  /* line 7, ../scss/_main.scss */
  #main img.left {
    float: left;
    margin: 0 1em 1em 0; }
  /* line 11, ../scss/_main.scss */
  #main img.right {
    float: right;
    margin: 0 0 1em 1em; }
  /* line 15, ../scss/_main.scss */
  #main img.center {
    float: none;
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto; }
/* line 24, ../scss/_main.scss */
#main ul {
  list-style-type: square; }
  /* line 26, ../scss/_main.scss */
  #main ul li {
    padding-bottom: 0.5em; }
    /* line 28, ../scss/_main.scss */
    #main ul li:last-child {
      padding: 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 263, ../scss/main.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 272, ../scss/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 289, ../scss/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 302, ../scss/main.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 320, ../scss/main.scss */
.clearfix:before, h1:before, h2:before,
h3:before,
h4:before, nav ul:before, .clearfix:after, h1:after, h2:after,
h3:after,
h4:after, nav ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both; }

/* line 328, ../scss/main.scss */
.clearfix:before, h1:before, h2:before,
h3:before,
h4:before, nav ul:before,
.clearfix:after,
h1:after,
h2:after,
h3:after,
h4:after,
nav ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 360, ../scss/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 368, ../scss/main.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 372, ../scss/main.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 376, ../scss/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 385, ../scss/main.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 390, ../scss/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 395, ../scss/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 400, ../scss/main.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 404, ../scss/main.scss */
  img {
    max-width: 100% !important; }

  /* line 410, ../scss/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 416, ../scss/main.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
