#main {
    @extend .outerWrapper;
    img {
    	max-width: 25%;
    	&.left {
    		float: left;
    		padding: 0.5em 0.5em 0.5em 0;
    	}
    	&.right {
    		float: right;
    		padding: 0.5em 0 0.5em 0.5em;
    	}
    	.center {
    		float: none;
    		max-width: 100%;
    		width: 100%;
    	}
    }
}